
#navbar a[href*="/references"] {
  padding-left: 18px;
  padding-right: 18px;
}

.card-link {
  color: var(--tw-prose-links);
  text-decoration: none;
  font-weight: 600;
  margin-top: 10px;
  display: inline-block;
  margin-right: 5px;
  border-bottom: 1px solid transparent;
}

.card-link:hover { 
  border-bottom: 1px solid rgb(var(--primary-light));
}

#ui-kit-overview-cards a > div > div:first-child {
  float: left;
  margin-right: 12px;
}

#ui-kit-overview-cards a > div h2 {
  margin: 0;
  display: inline;
}


.relay-table {

  td:not(:first-child) {
    padding-left: 24px;
  }

  th:not(:first-child) {
    padding-left: 24px;
  }

}
#\/references\/api\/core,
#\/references\/api\/utilities,
#\/references\/api\/advanced {
  pointer-events: none;
  font-weight: 700;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid rgb(70 21 200);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 

  #body-user [data-component-part="field-info-pill"]:has(> span.text-gray-400),
  #body-origin-chain-id [data-component-part="field-info-pill"]:has(> span.text-gray-400),
  #body-destination-chain-id [data-component-part="field-info-pill"]:has(> span.text-gray-400),
  #body-origin-currency [data-component-part="field-info-pill"]:has(> span.text-gray-400),
  #body-destination-currency [data-component-part="field-info-pill"]:has(> span.text-gray-400),
  #body-amount [data-component-part="field-info-pill"]:has(> span.text-gray-400),
  #body-trade-type [data-component-part="field-info-pill"]:has(> span.text-gray-400) {
    display: none;
  }

  #custom-vm-quicksets {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-left: 16px;
    border-bottom: 1px solid;
    border-color: rgb(var(--gray-200)/.7);
    padding-bottom: 16px;
  }

  #custom-vm-quicksets button {
    border-radius: 4px;
    overflow: hidden;
    border: none;
    cursor: pointer;
    transition: opacity 0.2s ease;
    opacity: 1;
  }

  #custom-vm-quicksets button img {
    width: 32px;
    height: 32px;
  }

  #custom-vm-quicksets button:hover {
    opacity: 0.8;
  }

  #custom-vm-quicksets-intro {
    font-weight: 600;
    margin-top: 20px;
    margin-left: 16px;
  }

  #hyperliquid-button {
    background-color: #fff;
    padding: 2px;
    max-height: 32px;
  }

  #enterprise-link {
    margin-left: 10px;
    padding: 2px 8px;
    color: #fff;
    border-radius: 20px;
    font-size: 14px;
    background-color: rgb(var(--primary-dark)/1);
    display: inline-block;
    line-height: normal;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
  }

  @media (width < 700px) {
    [class*="intercom-with-namespace"],
    .intercom-lightweight-app-launcher {
      bottom: 60px !important;
    }
  }

  /* Homepage */

  .homepage-bg {
    width: 100%;
    height: 40vh;
    position: relative;
    background: var(--Violet-Light-9, #4615C8);
    pointer-events: none;
  }
  .homepage-cards {
    display: flex;
    gap: 24px;
    margin: 40px 50px 0 50px;
    justify-content: center;
  }

  .homepage-card {
    max-width: 400px;
    min-height: 200px;
    padding: 24px;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 300px;
  }

  .homepage-card:hover .homepage-card-link {
    opacity: 0.8;
  }

  .homepage-card h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    margin-bottom: -8px;
  }

  .homepage-card-description {
    margin: 0 0 40px 0;
    font-size: 14px;
    color: #666;
    line-height: 1.5;
  }

  .homepage-card-link {
    font-size: 14px;
    color: #4615C8;
    font-weight: 500;
    margin-top: auto;
  }

  @media (width < 700px) {
    .homepage-bg {
      height: 30vh;
    }
  }

  @media (width < 600px) {
    .homepage-bg {
      height: 20vh;
    }
  }

  @media (width < 900px) {
    .homepage-cards {
      flex-direction: column;
      align-items: center;
    }
    .homepage-card {
      max-width: 600px;
    }
  }