
#navbar a[href*="/references"] {
  padding-left: 18px;
  padding-right: 18px;
}

.card-link {
  color: var(--tw-prose-links);
  text-decoration: none;
  font-weight: 600;
  margin-top: 10px;
  display: inline-block;
  margin-right: 5px;
  border-bottom: 1px solid transparent;
}

.card-link:hover { 
  border-bottom: 1px solid rgb(var(--primary-light));
}

#ui-kit-overview-cards a > div > div:first-child {
  float: left;
  margin-right: 12px;
}

#ui-kit-overview-cards a > div h2 {
  margin: 0;
  display: inline;
}


.relay-table {

  td:not(:first-child) {
    padding-left: 24px;
  }

  th:not(:first-child) {
    padding-left: 24px;
  }

}
#\/references\/api\/core,
#\/references\/api\/utilities,
#\/references\/api\/advanced {
  pointer-events: none;
  font-weight: 700;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid rgb(70 21 200);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 

  #body-user [data-component-part="field-info-pill"]:has(> span.text-gray-400),
  #body-origin-chain-id [data-component-part="field-info-pill"]:has(> span.text-gray-400),
  #body-destination-chain-id [data-component-part="field-info-pill"]:has(> span.text-gray-400),
  #body-origin-currency [data-component-part="field-info-pill"]:has(> span.text-gray-400),
  #body-destination-currency [data-component-part="field-info-pill"]:has(> span.text-gray-400),
  #body-amount [data-component-part="field-info-pill"]:has(> span.text-gray-400),
  #body-trade-type [data-component-part="field-info-pill"]:has(> span.text-gray-400) {
    display: none;
  }

  #custom-vm-quicksets {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-left: 16px;
    border-bottom: 1px solid;
    border-color: rgb(var(--gray-200)/.7);
    padding-bottom: 16px;
  }

  #custom-vm-quicksets button {
    border-radius: 4px;
    overflow: hidden;
    border: none;
    cursor: pointer;
    transition: opacity 0.2s ease;
    opacity: 1;
  }

  #custom-vm-quicksets button img {
    width: 32px;
    height: 32px;
  }

  #custom-vm-quicksets button:hover {
    opacity: 0.8;
  }

  #custom-vm-quicksets-intro {
    font-weight: 600;
    margin-top: 20px;
    margin-left: 16px;
  }

  #hyperliquid-button {
    background-color: #fff;
    padding: 2px;
    max-height: 32px;
  }

  #enterprise-link {
    margin-left: 10px;
    padding: 2px 8px;
    color: #fff;
    border-radius: 20px;
    font-size: 14px;
    background-color: rgb(var(--primary-dark)/1);
    display: inline-block;
    line-height: normal;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
  }

